In [1]:
import pandas as pd
df1=pd.read_csv('/content/clean_amazon.csv')
df2=pd.read_csv('/content/clean_chatgpt.csv')
df3=pd.read_csv('/content/clean_clean.csv')
df4=pd.read_csv('/content/clean_drug.csv')
df5=pd.read_csv('/content/clean_game.csv')
df6=pd.read_csv('/content/clean_musical.csv')
df7=pd.read_csv('/content/clean_ticket_system.csv')
df8=pd.read_csv('/content/clean_tripadvisor (1).csv')
df9=pd.read_csv('/content/clean_tripadvisor_hotel.csv')

In [14]:
print('df1',df1.columns)
print('df2',df2.columns)
print('df3',df3.columns)
print('df4',df4.columns)
print('df5',df5.columns)
print('df6',df6.columns)
print('df7',df7.columns)
print('df8',df8.columns)
print('df9',df9.columns)

df1 Index(['review', 'rating'], dtype='object')
df2 Index(['review', 'rating'], dtype='object')
df3 Index(['review', 'rating'], dtype='object')
df4 Index(['review', 'rating'], dtype='object')
df5 Index(['review', 'rating'], dtype='object')
df6 Index(['review', 'rating'], dtype='object')
df7 Index(['review', 'rating'], dtype='object')
df8 Index(['review', 'rating'], dtype='object')
df9 Index(['review', 'rating'], dtype='object')

In [4]:
df5.rename(columns={'REVIEW':'review'},inplace=True)
df9.rename(columns={'Review':'review','Rating':'rating'},inplace=True)

SWAPPING COLUMNS

In [7]:
cols=list(df1.columns)
i,j=cols.index('review'),cols.index('rating')
cols[i],cols[j]=cols[j],cols[i]
df1=df1[cols]

In [9]:
cols=list(df3.columns)
i,j=cols.index('review'),cols.index('rating')
cols[i],cols[j]=cols[j],cols[i]
df3=df3[cols]

In [11]:
cols=list(df4.columns)
i,j=cols.index('review'),cols.index('rating')
cols[i],cols[j]=cols[j],cols[i]
df4=df4[cols]

In [13]:
cols=list(df6.columns)
i,j=cols.index('review'),cols.index('rating')
cols[i],cols[j]=cols[j],cols[i]
df6=df6[cols]

MERGING

In [15]:
merge_df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],ignore_index=True)

In [17]:
merge_df.shape

(185849, 2)

VALUE COUNT

In [18]:
merge_df.value_counts('rating')

rating
5    103689
4     36957
3     17372
1     16215
2     11616
Name: count, dtype: int64

In [19]:
merge_df.to_csv('merge_df.csv',index=False)