In [3]:
import pandas as pd
df=pd.read_csv('/content/merge_datasets.csv')
allbalanced_df = (df.groupby('rating', group_keys=False)
  .apply(lambda x: x.sample(n=5000, random_state=42)))

allremaining_df= df.drop(allbalanced_df.index)

allbalanced_df= allbalanced_df.reset_index(drop=True)
allremaining_df=allremaining_df.reset_index(drop=True)

/tmp/ipython-input-3-3225970107.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(n=5000, random_state=42)))

In [4]:
allbalanced_df.value_counts('rating')

rating
1    5000
2    5000
3    5000
4    5000
5    5000
Name: count, dtype: int64

In [5]:
allbalanced_df.to_csv('allbalanced_dataset.csv',index=False)
allremaining_df.to_csv('allremaining_dataset.csv',index=False)